<div class="row">
    <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center"
      *ngFor="let book of books">
      <div class="card card-1 shadow">
        <a routerLink="../books/book/{{book.isbn}}" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
          <img src="{{book.urlImage}}" class="custom-img" alt="{{book.name}}">
          <div class="card-body p-1">
            <h5 class="card-title">{{book.name}}</h5>
            <p class="card-text text-danger">${{book.price}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>