<div class="list-group">
   
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Inicio</a>

    <a href="#" class="list-group-item list-group-item-action">Paranormal</a>
    <a href="#" class="list-group-item list-group-item-action"> Ciencia Ficción</a>
    <a href="#" class="list-group-item list-group-item-action">Romance</a>
    <a href="#" class="list-group-item list-group-item-action">Clásicos</a>
    <a routerLink="/dashboard/admin" ariaCurrentWhenActive="page"
     class="list-group-item list-group-item-action">Admin</a>
    <a routerLink="/dashboard/registrarUser" ariaCurrentWhenActive="page"
     class="list-group-item list-group-item-action">Registra Usuarios</a>
    <a routerLink="/dashboard/listadoUsers" ariaCurrentWhenActive="page" 
    class="list-group-item list-group-item-action">Ver listado</a>
    
</div>