<div class="list-group">
   
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Inicio</a>

    <a href="#" class="list-group-item list-group-item-action">Paranormal</a>
    <a href="#" class="list-group-item list-group-item-action"> Ciencia Ficción</a>
    <a href="#" class="list-group-item list-group-item-action">Romance</a>
    <a href="#" class="list-group-item list-group-item-action">Clásicos</a>
    <a href="#" class="list-group-item list-group-item-action">Acción</a>
    <a href="#" class="list-group-item list-group-item-action">Biografías</a>
    <a href="#" class="list-group-item list-group-item-action">Poesía</a>
</div>