<div class="list-group">
   
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Inicio</a>

    <a href="/paranormal" class="list-group-item list-group-item-action">Paranormal</a>
    <a href="/cienciaFiccion" class="list-group-item list-group-item-action"> Ciencia Ficción</a>
    <a href="/romance" class="list-group-item list-group-item-action">Romance</a>
    <a href="/clasicos" class="list-group-item list-group-item-action">Clásicos</a>
    <a href="/accion" class="list-group-item list-group-item-action">Acción</a>
    <a href="/biografia" class="list-group-item list-group-item-action">Biografías</a>
    <a href="/poesia" class="list-group-item list-group-item-action">Poesía</a>
    <a routerLink="/dashboard/admin" ariaCurrentWhenActive="page"
     class="list-group-item list-group-item-action" *ngIf="isAdmin">Admin</a>
    <a routerLink="/dashboard/registrarUser" ariaCurrentWhenActive="page"
     class="list-group-item list-group-item-action" *ngIf="isAdmin">Registrar Usuarios</a>
    <a routerLink="/dashboard/listadoUsers" ariaCurrentWhenActive="page" 
    class="list-group-item list-group-item-action" *ngIf="isAdmin">Ver usuarios</a>
    <a routerLink="/dashboard/registrarBooks" ariaCurrentWhenActive="page" 
    class="list-group-item list-group-item-action" *ngIf="isAdmin">Registrar libros</a>
    <a routerLink="/dashboard/listadoBooks" ariaCurrentWhenActive="page" 
    class="list-group-item list-group-item-action" *ngIf="isAdmin">Listado libros</a>
    
</div>