<div class="container-fluid">
    <h1 class="d-flex align-items-stretch justify-content-center">Find the best books at BookTeka</h1><br>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="imagen1" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="imagen2" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="imagen3" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br><br>
    <h1>More books...</h1><br>
    <!--Row 1-->
    <div class="row">
      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{aGoodGirl}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">A Good girl</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{relatos}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">Relato de un asesino</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{aGoodGirl}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">A Good girl</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{relatos}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">Relato de un asesino</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{aGoodGirl}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">A Good girl</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
        <div class="card card-1 shadow">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-decoration-none">
            <img src="{{relatos}}" class="custom-img" alt="">
            <div class="card-body p-1">
              <h5 class="card-title">Relato de un asesino</h5>
              <p class="card-text">Read now</p>
            </div>
          </a>
        </div>
      </div>
      <!--Row 2-->
      <div class="row">
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{aGoodGirl}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">A Good girl</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{relatos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Relato de un asesino</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{aGoodGirl}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">A Good girl</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{relatos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Relato de un asesino</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{aGoodGirl}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">A Good girl</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{relatos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Relato de un asesino</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
    </div>
    <!--Row 3-->
    <div class="row">
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{cronicasMuerteAnunciada}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Cronica de una muerte anunciada</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{todoLoQueSomosJuntos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Todo lo que somos juntos</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{cronicasMuerteAnunciada}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Cronicas muerte anunciada</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{todoLoQueSomosJuntos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Todo lo que somos juntos</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{cronicasMuerteAnunciada}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Cronicas muerte anunciada</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center">
          <div class="card card-1 shadow">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="text-decoration-none">
              <img src="{{todoLoQueSomosJuntos}}" class="custom-img" alt="">
              <div class="card-body p-1">
                <h5 class="card-title">Todo lo que somos juntos</h5>
                <p class="card-text">Read now</p>
              </div>
            </a>
          </div>
        </div>
